<!-- START HOME SECTION -->
<section id="home" class="parallax">
    <div class="home-wrapper">
        <div class="home-content">
            
            <div id="home-slider" class="slide slider-text">
                <ul class="slides">
                    <li><h1>CERVEJA É <span>ARTE</span></h1></li>
                    <li><h1>CERVEJA É <span>PAIXÃO</span></h1></li>
                    <li><h1>DESCUBRA NOVAS <span>SENSAÇÕES</span></h1></li>
                    <li><h1>PRODUÇÕES <span>NACIONAIS</span></h1></li>
                </ul><!--/.slides-->
            </div><!--/.testimonials -->

            <a href="#como-funciona" class="scroll home-btn">SAIBA MAIS</a>

        </div><!--/.home-content-->
    </div><!--/.home-wrapper-->
</section>
<!-- END HOME SECTION -->



<!-- START FEATURES SECTION -->
<section id="como-funciona" class="section gray">
    <div class="container">

        <div class="titles">
            <i class="icon-star"></i>
            <h1>COMO FUNCIONA</h1>
            <h3>A ARTE IN BREJAS É UM CLUBE PARA OS <span>ENTUSIASTAS</span> DA CERVEJA ARTESANAL. OS ASSINANTES RECEBEM <SPAN>TODO MÊS</SPAN> CERVEJAS ARTESANAIS SELECIONADAS VARIADAS PARA CURTIR COM OS AMIGOS.</h3>
        </div><!--/.titles -->

        <div class="span4">
            <div class="features">
                <span class="icon-like" data-animated="bounceIn"></span>
                <h3>O MELHOR DA CERVEJA ARTESANAL NACIONAL</h3>
                <p>.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span4">
            <div class="features">
                <span class="icon-bubble" data-animated="bounceIn"></span>
                <h3>LEVE PARA AS RODAS DE AMIGOS</h3>
                <p>.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span4 last">
            <div class="features">
                <span class="icon-paperplane" data-animated="bounceIn"></span>
                <h3>RECEBA EM CASA TODO MÊS</h3>
                <p>.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

    </div><!--/.container-->
</section>
<!-- END ABOUT SECTION  -->


<!-- START CLIENTS PARALLAX SECTION -->
<div id="parallax3" class="parallax dark">
    <div class="container">

        <div class="titles">
            <i class="icon-trophy"></i>
            <h1>AS CERVEJAS DESSE MÊS</h1>
        </div><!--/.titles -->

        <div class="clients">
           <a style="font-size:larger" href="http://www.bierland.com.br/produtos/cervejas/71-cerveja-vienna.html"><strong>Bierland Vienna</strong></a>
           <a style="font-size:larger" href="http://www.cervejariacolorado.com.br/home/#"><strong>Colorado Vixnu</strong></a>
           <a style="font-size:larger" href="http://www.wals.com.br/cervejas/view/11"><strong>Wäls Bohemia Pilsen</strong></a>
        </div><!--/.clients -->

        <div class="overlay"></div>
    </div><!--/.container -->
</div>
<!-- END CLIENTS PARALLAX SECTION  -->

<!-- START PRICETABLE SECTION -->
<section id="planos" class="section gray">
    <div class="container">

        <div class="titles">
            <i class="icon-heart"></i>
            <h1>NOSSOS PLANOS</h1>
        </div><!--/.titles -->

        <div class="price-wrapper-col2" data-animated="bounceInUp">

            <div class="pricetable">
                <ul>
                    <li class="pricetable-title"><h3>DRINKER</h3></li>
                    <li class="pricetable-price"><h3>R$ 59,00</h3><span>POR MÊS</span></li>
                    <li class="pricetable-item">DESCONTO ESPECIAL NOS 3 PRIMEIROS MESES</li>
                    <li class="pricetable-item">3 CERVEJAS ARTESANAIS SELECIONADAS TODO MÊS</li>
                    <li class="pricetable-item">&nbsp;</li>
                    <li class="pricetable-item">SEM TEMPO MÍNIMO DE ADESÃO</li>
                    <li class="pricetable-btn"><a class="btn btn-dark" href="#assine" onclick="document.getElementById('type-plan1').checked=true">ASSINE</a></li>
                </ul>
            </div><!--/.pricetable-->

            <div class="pricetable pricetable-features">
                <ul>
                    <li class="pricetable-title"><h3>MAKER</h3></li>
                    <li class="pricetable-price"><h3>R$ 79,00</h3><span>POR MÊS</span></li>
                    <li class="pricetable-item">KIT BÁSICO PARA FAZER AS PRÓPRIAS CERVEJAS</li>
                    <li class="pricetable-item">2 CERVEJAS ARTESANAIS SELECIONADAS TODO MÊS</li>
                    <li class="pricetable-item">UM INGREDIENTE TODO MÊS</li>
                    <li class="pricetable-item">4 MESES DE ADESÃO MÍNIMA</li>
                    <li class="pricetable-btn"><a class="btn btn-yellow" href="#assine" onclick="document.getElementById('type-plan2').checked=true">ASSINE</a></li>
                </ul>
            </div><!--/.pricetable-->

        </div><!--/.price-wrapper-col3-->

    </div><!--/.container -->
</section>
<!-- END PRICETABLE SECTION -->

<!-- START TEXT PARALLAX SECTION -->
<div id="parallax4" class="parallax dark">
    <div class="container">

        <div id="slider-text" class="slide slider-text">
            <ul class="slides">
                <li><h1>CERVEJAS ARTESANAIS <SPAN>SELECIONADAS</SPAN></h1></li>
                <li><h1>ENTREGUES NA SUA <SPAN>CASA</SPAN></h1></li>
                <li><h1>PARA DEGUSTAR COM OS <SPAN>AMIGOS</SPAN></h1></li>
            </ul><!--/.slides-->
        </div><!--/.testimonials -->

        <div class="overlay"></div>
    </div><!--/.container-->
</div>
<!-- END TEXT PARALLAX SECTION  -->

<!-- START CONTACT PAGE -->
<section id="assine" class="section gray">
    <div class="container"> 

        <div class="titles">
            <i class="icon-phone"></i>
            <h1>ASSINE AGORA</h1>
        </div><!--/.titles -->

        <div class="span6">
            <form id="contact-form" class="contact-form" method="get">
                <div class="result"></div>
                <input type="text" name="name" id="name" placeholder="Nome *" required>
                <input type="email" name="email" id="email" placeholder="Email *" required>
                <input type="text" name="address" id="address" placeholder="Endereço *" required>
                <input type="text" name="cep" id="cep" placeholder="CEP *" required>
                <input type="text" name="state" id="state" placeholder="Estado *" required>
                <input type="text" name="city" id="city" placeholder="Cidade *" required>
				<p>
					<input type="radio" name="type" id="type-plan1" value="plan1" required> <label for="type-plan1">Drinker (R$ 59,00/mês)</label><br>
					<input type="radio" name="type" id="type-plan2" value="plan2" required> <label for="type-plan2">Maker (R$ 79,00/mês)</label>
				</p>
                <input type="text" name="coupon" id="coupon" placeholder="Coupon">
                <input type="submit" class="btn-dark" value="ENVIAR">
            </form><!--/form-->
        </div><!--/.span6 -->

        <div class="span6" data-animated="fadeInRight">
            <h3>ENTRE EM CONTATO</h3>
            <p>Arte in Brejas é a melhor opção pra quem sabe apreciar boa cerveja e quer conhecer novos rótulos. Faça parte desse clube!</p>
			
            <ul>
                <li><strong>Facebook:</strong> <a href="https://www.facebook.com/arteinbrejas">facebook.com/arteinbrejas</a></li>
                <li><strong>Email:</strong> <a href="mailto:arteinbrejas@gmail.com">arteinbrejas@gmail.com</a> </li>
            </ul>
        </div><!--/.span6-->

    </div><!--/.container -->
</section>
<!-- END: CONTACT PAGE -->