<!-- START HOME SECTION -->
<section id="home" class="parallax">
    <div class="home-wrapper">
        <div class="home-content">
            
            <div id="home-slider" class="slide slider-text">
                <ul class="slides">
                    <li><h1>WE ARE <span>CREATIVE</span></h1></li>
                    <li><h1>WE ARE - <span>FIRST CLASS!</span></h1></li>
                    <li><h1>ORIOLUS MAKES <span>DREAMS</span> COME <span>TRUE</span></h1></li>
                    <li><h1>WITH ORIOLUS <span>THE POWER</span> ON YOUR SIDE</h1></li>
                </ul><!--/.slides-->
            </div><!--/.testimonials -->

            <a href="#start" class="scroll home-btn">GET STARTED</a>

        </div><!--/.home-content-->
    </div><!--/.home-wrapper-->
</section>
<!-- END HOME SECTION -->



<!-- START FEATURES SECTION -->
<section id="start" class="section gray">
    <div class="container">

        <div class="titles">
            <i class="icon-star"></i>
            <h1>WHAT WE DO</h1>
            <h3>WE CREATIVE AGENCY, WE MAKE <span>AWESOME</span> WEB DESIGN AND LOGO, WE’RE ALWAYS LOOKING FOR <span>TALENTED PEOPLE</span> TO JOIN OUR TEAM. <span>ARE YOU TALENTED, HIGHLY MOTIVATED, HARDWORKING AND PASSIONATE</span> ABOUT YOUR CAREER IF SO, <span>ORIOLUS</span> WOULD LOVE YOU TO JOIN OUR TEAM!</h3>
        </div><!--/.titles -->

        <div class="span3">
            <div class="features">
                <span class="icon-eye" data-animated="bounceIn"></span>
                <h3>RETINA READY</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span3">
            <div class="features">
                <span class="icon-like" data-animated="bounceIn"></span>
                <h3>PERFECT DESIGN</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span3">
            <div class="features">
                <span class="icon-bubble" data-animated="bounceIn"></span>
                <h3>NEED SUPPORT ?</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span3 last">
            <div class="features">
                <span class="icon-paperplane" data-animated="bounceIn"></span>
                <h3>WE ARE CREATIVE !</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

    </div><!--/.container-->
</section>
<!-- END ABOUT SECTION  -->



<!-- START PORTFOLIO SECTION -->
<section id="portfolio" class="section grey">

    <div class="container">
        <div class="titles">
            <i class="icon-suitcase"></i>
            <h1>OUR WORKS</h1>
        </div><!--/.titles -->

        <ul id="filtrable">
            <li><a href="#" data-categories="*">ALL</a></li>
            <li><a href="#" data-categories="images">IMAGES</a></li>
            <li><a href="#" data-categories="slider">SLIDER</a></li>
            <li><a href="#" data-categories="vimeo">VIMEO</a></li>
            <li><a href="#" data-categories="youtube">YOU TUBE</a></li>
        </ul><!--/#filtrable-->
    </div><!--/.container -->

    <div id="portfolio-items" class="portfolio-items">

        <article data-categories="images">
            <a href="#!project/project1.html">   
                <img src="images/example/portfolio/thumb1.jpg" alt="image">
                <p><span class="icon-camera"></span>RON WEASLEY</p>
            </a>
        </article><!--/article-->

        <article data-categories="vimeo">
            <a href="#!project/project2.html">   
                <img src="images/example/portfolio/thumb2.jpg" alt="image">
                <p><span class="icon-video"></span>CONCEPT GAME</p>
            </a>
        </article><!--/article-->

        <article data-categories="slider">
            <a href="#!project/project3.html">     
                <img src="images/example/portfolio/thumb3.jpg" alt="image">
                <p><span class="icon-camera"></span>EMBRATUR</p>
            </a>
        </article><!--/article-->

        <article data-categories="images">
            <a href="#!project/project4.html">     
                <img src="images/example/portfolio/thumb4.jpg" alt="image">
                <p><span class="icon-camera"></span>KOPAZITO</p>
            </a>
        </article><!--/article-->

        <article data-categories="slider">
            <a href="#!project/project5.html">   
                <img src="images/example/portfolio/thumb5.jpg" alt="image">
                <p><span class="icon-camera"></span>SHOTMEN</p>
            </a>
        </article><!--/article-->

        <article data-categories="youtube">
            <a href="#!project/project6.html">   
                <img src="images/example/portfolio/thumb6.jpg" alt="image">
                <p><span class="icon-video"></span>VOODOO</p>
            </a>
        </article><!--/article-->

        <article data-categories="images">
            <a href="#!project/project7.html">   
                <img src="images/example/portfolio/thumb7.jpg" alt="image">
                <p><span class="icon-camera"></span>GELOIDE</p>
            </a>
        </article><!--/article-->

        <article data-categories="slider">
            <a href="#!project/project8.html">   
                <img src="images/example/portfolio/thumb8.jpg" alt="image">
                <p><span class="icon-camera"></span>TOY LIVE</p>
            </a>
        </article><!--/article-->

        <article data-categories="vimeo">
            <a href="#!project/project9.html">   
                <img src="images/example/portfolio/thumb9.jpg" alt="image">
                <p><span class="icon-video"></span>CATWORLD</p>
            </a>
        </article><!--/article-->

        <article data-categories="youtube">
            <a href="#!project/project10.html">   
                <img src="images/example/portfolio/thumb10.jpg" alt="image">
                <p><span class="icon-video"></span>I LOVE PICLES</p>
            </a>
        </article><!--/article-->

        <article data-categories="vimeo">
            <a href="#!project/project11.html">   
                <img src="images/example/portfolio/thumb11.jpg" alt="image">
                <p><span class="icon-video"></span>CALOURO</p>
            </a>
        </article><!--/article-->

        <article data-categories="slider">
            <a href="#!project/project12.html">   
                <img src="images/example/portfolio/thumb12.jpg" alt="image">
                <p><span class="icon-camera"></span>DOLTS</p>
            </a>
        </article><!--/article-->



    </div><!--/.portfolio-items -->

</section>
<!-- END PORTFOLIO SECTION  -->



<!-- START TESTIMONIALS PARALLAX SECTION -->
<div id="parallax1" class="parallax dark">
    <div class="container">

        <div class="titles">
            <i class="icon-quote-left"></i>
            <h1>WHAT OUR HAPPY CUSTOMERS SAY</h1>
        </div><!--/.titles -->
    
        <!-- start testimonials  -->
        <div id="testimonials" class="slide testimonials">
            <ul class="slides">
                <li>
                    <p>"Donec non scelerisque sapien, venenatis posuere purus. Integer magna dui, dapibus ac fermentum et."</p> 
                    <span>- JHON DOE -</span>
                </li>

                <li>
                    <p>"Aliquam a laoreet neque. Fusce rhoncus tortor eget metus dapibus, eget porta arcu accumsan. "</p>
                    <span>- ALANA SMITH -</span>
                </li>

                <li>
                    <p>"Curabitur nunc tellus, pharetra non eros at, posuere commodo justo. Nulla facilisi."</p>
                    <span>- ROBIN HOOD -</span>
                </li>

                <li>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                    <span>- JHON DOE -</span>
                </li>
            </ul><!--/.slides-->
        </div><!--/.testimonials -->

        <div class="overlay"></div>

    </div><!--/.container-->
</div>
<!-- END TESTIMONIALS PARALLAX SECTION  -->



<!-- START SERVICES PAGE -->
<section id="services" class="section">
    <div class="container">

        <div class="titles">
            <i class="icon-cogs"></i>
            <h1>OUR SERVICES</h1>
            <h3>WE CAN TAKE YOUR <span>BUSINESS</span> TO THE NEXT LEVEL. PRAESENT VITAE PURUS EU LIBERO LAOREET ORNARE, <span>UT JUSTO QUAMET</span> CURSUS NEQUE SED HENDRERIT LIGULA NIBH, VITAE <span>SUSCIPIT NISI</span> IMPERDIET PELLENTESQUE.</h3>
        </div><!--/.titles -->

        <div class="span3" data-animated="fadeInLeft">
            <div class="services">
                <span class="icon-display"></span>
                <ul>
                    <li><h3>WEB DESIGN</h3></li>
                    <li>Sed eleifend erat</li>
                    <li>Am gravida sit ametnunc</li>
                    <li>Ut ultricies iaculis</li>
                    <li><a href="services-single.html">View More</a></li>
                </ul>
            </div><!--./services-->
        </div><!--./span3-->

        <div class="span3" data-animated="fadeInLeft">
            <div class="services">
                <span class="icon-params"></span>
                <ul class="services-info">
                    <li><h3>OPTIMIZATION</h3></li>
                    <li>Sed eleifend erat</li>
                    <li>Am gravida sit</li>
                    <li>Ut ultricies iaculis</li>
                    <li><a href="services-single.html">View More</a></li>
                </ul>
            </div><!--./services-->
        </div><!--./span3-->

        <div class="span3" data-animated="fadeInRight">
            <div class="services">
                <span class="icon-banknote"></span>
                <ul class="services-info">
                    <li><h3>E-COMMERCE</h3></li>
                    <li>Sed eleifend erat</li>
                    <li>Am gravida sit</li>
                    <li>Ut ultricies iaculis</li>
                    <li><a href="services-single.html">View More</a></li>
                </ul>
            </div><!--./services-->
        </div><!--./span3-->

        <div class="span3 last" data-animated="fadeInRight">
            <div class="services">
                <span class="icon-lab"></span>
                <ul class="services-info">
                    <li><h3>WEB MARKETING</h3></li>
                    <li>Sed eleifend erat</li>
                    <li>Am gravida sit</li>
                    <li>Ut ultricies iaculis</li>
                    <li><a href="services-single.html">View More</a></li>
                </ul>
            </div><!--./services-->
        </div><!--./span3-->

        <div class="spacer"></div>

        <div class="text-center">
            <a href="#pricetable" class="btn-yellow scroll">LOOK AT OUR PRICES</a>
        </div><!--/.text-center -->

    </div><!--/.container -->
</section>
<!-- END SERVICES PAGE  -->



<!-- START STATS -->
<div id="parallax2" class="parallax dark">
    <div class="container">

        <div class="titles">
            <i class="icon-smile"></i>
            <h1>SOME FUN FACTS ABOUT US</h1>
            <p>PRAESENT VITAE PURUS EU LIBERO LAOREET ORNARE. UT JUSTO QUAMET CURSUS NEQUE.UT JUSTO QUAMET CURSUS NEQUE. FUSCE DUI NIBH AUCTOR VEL FERMENTUM NON CONDIMENTUM</p>
        </div><!--/.titles -->

        <div class="stats">
            <span class="icon-like"></span>
            <div class="num" data-content="1542" data-num="800">1542</div>
            <div class="type">HAPPY CUSTOMERS</div>
        </div><!--/.stats-->

        <div class="stats">
            <span class="icon-display"></span>
            <div class="num" data-content="58" data-num="600">58</div>
            <div class="type">PROJECTS COMPLETED</div>
        </div><!--/.stats-->

        <div class="stats">
            <span class="icon-clock"></span>
            <div class="num" data-content="25K" data-num="900">25K</div>
            <div class="type">WORK HOURS</div>
        </div><!--/.stats-->

        <div class="stats">
            <span class="icon-cup"></span>
            <div class="num" data-content="10K" data-num="1000">10K</div>
            <div class="type">CUPS OF COFFEE</div>
        </div><!--/.stats-->

        <div class="overlay"></div>
    </div><!--/.container-->
</div>
<!-- END STATS -->


<!-- START WORKING STEP SECTION -->
<section id="proces" class="section">
    <div class="container">

        <div class="titles">
            <i class="icon-rocket"></i>
            <h1>OUR WORKING PROCES</h1>
        </div><!--/.titles -->

        <div class="span6" data-animated="fadeIn">
            <div class="step-wrapper">
                <span class="icon-pen"></span>
                <div class="step-content">
                    <h3>1 STARTING DESIGN</h3>
                    <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque. Fusce dui nibh auctor vel fermentum non condimentum. 
                    Dui nibh auctor vel.</p>
                </div><!--/.step-content-->
            </div><!--/.step-wrapper-->
        </div><!--/.span6-->

        <div class="span6 last" data-animated="fadeIn">
            <div class="step-wrapper">
                <span class="icon-settings"></span>
                <div class="step-content">
                    <h3>2 DEVELOPMENT</h3>
                    <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque. Fusce dui nibh auctor vel fermentum non condimentum. 
                    Dui nibh auctor vel.</p>
                </div><!--/.step-content-->
            </div><!--/.step-wrapper-->
        </div><!--/.span6-->

        <div class="divider"></div>

        <div class="span6" data-animated="fadeIn">
            <div class="step-wrapper">
                <span class="icon-lab"></span>
                <div class="step-content">
                    <h3>3 TESTING</h3>
                    <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque. Fusce dui nibh auctor vel fermentum non condimentum. 
                        Dui nibh auctor vel.</p>
                </div><!--/.step-content-->
            </div><!--/.step-wrapper-->
        </div><!--/.span6-->

        <div class="span6 last" data-animated="fadeIn">
            <div class="step-wrapper">
                <span class="icon-paperplane"></span>
                <div class="step-content">
                    <h3>4 GO LIVE</h3>
                    <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque. Fusce dui nibh auctor vel fermentum non condimentum. 
                    Dui nibh auctor vel.</p>
                </div><!--/.step-content-->
            </div> <!--/.step-wrapper-->
        </div><!--/.span6-->

    </div><!--/.container-->
</section>
<!-- END WORKING STEP SECTION  -->



<!-- START VIDEO FRAME -->
<div id="parallax5" class="parallax dark">
    <div class="container">

        <div class="span7">
            <div class="flexible-video">
                <iframe src="http://player.vimeo.com/video/34234286?color=f2eee5" width="500" height="281" frameborder="0"></iframe>
            </div><!--/.flexible-video-->
        </div><!--/.span7-->

        <div class="span5 last">
            <h3>MORE DETAILS HOW WE WORK</h3>
            <p>praesent vitae purus eu libero laoreet ornare. ut justo quamet cursus neque.ut justo quamet cursus neque. 
            fusce dui nibh auctor vel fermentum non condimentumPraesent vitae purus eu libero laoreet ornare. 
            Ut justo quamet cursus neque. Fusce dui nibh auctor vel fermentum non condimentum. Dui nibh auctor vel.</p>
        </div><!--/.span5-->

        <div class="overlay"></div>
    </div><!--/.container-->
</div>
<!-- END VIDEO FRAME -->



<!-- START PRICETABLE SECTION -->
<section id="pricetable" class="section gray">
    <div class="container">

        <div class="titles">
            <i class="icon-heart"></i>
            <h1>OUR PRICES</h1>
        </div><!--/.titles -->

        <div class="price-wrapper-col3" data-animated="bounceInUp">

            <div class="pricetable">
                <ul>
                    <li class="pricetable-title"><h3>PREMIUM</h3></li>
                    <li class="pricetable-price"><h3>$39.99</h3><span>PER MONTH</span></li>
                    <li class="pricetable-item">40 PROJECTS</li>
                    <li class="pricetable-item">25 GB STORAGE</li>
                    <li class="pricetable-item">UNLIMITED USERS</li>
                    <li class="pricetable-item">40 GB BANDWITH</li>
                    <li class="pricetable-btn"><a class="btn btn-dark" href="#">SIGN UP</a></li>
                </ul>
            </div><!--/.pricetable-->

            <div class="pricetable pricetable-features">
                <ul>
                    <li class="pricetable-title"><h3>MAXIMUM</h3></li>
                    <li class="pricetable-price"><h3>$69.99</h3><span>PER MONTH</span></li>
                    <li class="pricetable-item">60 PROJECTS</li>
                    <li class="pricetable-item">40 GB STORAGE</li>
                    <li class="pricetable-item">UNLIMITED USERS</li>
                    <li class="pricetable-item">60 GB BANDWITH</li>
                    <li class="pricetable-btn"><a class="btn btn-yellow" href="#">SIGN UP</a></li>
                </ul>
            </div><!--/.pricetable-->

            <div class="pricetable">
                <ul>
                    <li class="pricetable-title"><h3>PLATINUM</h3></li>
                    <li class="pricetable-price"><h3>$99.99</h3><span>PER MONTH</span></li>
                    <li class="pricetable-item">100 PROJECTS</li>
                    <li class="pricetable-item">80 GB STORAGE</li>
                    <li class="pricetable-item">UNLIMITED USERS</li>
                    <li class="pricetable-item">100 GB BANDWITH</li>
                    <li class="pricetable-btn"><a class="btn btn-dark" href="#">SIGN UP</a></li>
                </ul>
            </div><!--/.pricetable-->

        </div><!--/.price-wrapper-col3-->

    </div><!--/.container -->
</section>
<!-- END PRICETABLE SECTION -->



<!-- START CLIENTS PARALLAX SECTION -->
<div id="parallax3" class="parallax dark">
    <div class="container">

        <div class="titles">
            <i class="icon-trophy"></i>
            <h1>OUR OLD AND VALUED CLIENTS</h1>
            <p>PRAESENT VITAE PURUS EU LIBERO LAOREET ORNARE. UT JUSTO QUAMET CURSUS NEQUE. </p>
        </div><!--/.titles -->

        <div class="clients">
            <a href="#"><img src="images/example/logo/logo1.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo2.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo3.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo4.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo5.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo6.png" alt="Logo"></a>
        </div><!--/.clients -->

        <div class="overlay"></div>
    </div><!--/.container -->
</div>
<!-- END CLIENTS PARALLAX SECTION  -->



<!-- START ABOUT SECTION -->
<section id="about" class="section yellow dark">
    <div class="container">

        <div class="titles">
            <i class="icon-volume-down "></i>
            <h1>ABOUT US</h1>
        </div><!--/.titles -->

        <div class="span6">
            <h3>BRIEFLY ABOUT US</h3>

            <p>Nam ornare neque odio, nec porttitor enim tempor sed. Nullam ut tempus quam. Nullam rhoncus metus ac leo mollis, 
            vel elementum tortor pharetra.</p>

            <p>id pretium dui sagittis. Nulla tempor purus orci, semper porttitor tortor accumsan ut. Sed elit lorem, vulputate id venenatis ac.</p>
        </div><!--/.span6-->

        <div class="span6 last">
            <h3>OUR CRAZY SKILLS</h3>

            <div class="progress-bar" data-animated="fadeInRight">
                <div class="bar" style="width:75%">
                    WORDPRESS
                    <span>75%</span>
                </div>
            </div><!--/.pogress-bar-->

            <div class="progress-bar" data-animated="fadeInRight">
                <div class="bar" style="width:55%">
                    PHOTOSHOP
                    <span>55%</span>
                </div>
            </div><!--/.pogress-bar-->

            <div class="progress-bar" data-animated="fadeInRight">
                <div class="bar" style="width:80%">
                    JQUERY
                    <span>80%</span>
                </div>
            </div><!--/.pogress-bar-->

            <div class="progress-bar" data-animated="fadeInRight">
                <div class="bar" style="width:95%">
                    HTML
                    <span>95%</span>
                </div>
            </div><!--/.pogress-bar-->
        </div><!--/.span6-->

    </div><!--/.container -->
</section>
<!-- END ABOUT SECTION -->



<!-- START TEAM SECTION -->
<div id="team" class="section">
    <div class="container">

        <div class="titles">
            <i class="text-center icon-group"></i>
            <h1>MEET OUR <span>GREAT</span> TEAM</h1>
        </div><!--/.titles-->

        <div class="span3" data-animated="fadeInLeft">
            <div class="team-member" >

                <div class="team-img">
                    <img src="images/example/team/team1.jpg" alt="Image">
                    <ul class="social clearfix">
                        <li><a href="#" class="social-facebook"></a></li>
                        <li><a href="#" class="social-twitter"></a></li>
                        <li><a href="#" class="social-dribbble"></a></li>
                    </ul>
                </div>

                <div class="team-name">
                    <h3>ALANA SMITH</h3>
                    <p>Co Founder</p>
                </div>

                <p>Ut ultricies iaculis leo ut egestas diam gravida sit</p>

            </div><!--/.team-member-->
        </div><!--/.span3-->

        <div class="span3" data-animated="fadeInLeft">
            <div class="team-member">

                <div class="team-img">
                    <img src="images/example/team/team2.jpg" alt="Image">
                    <ul class="social clearfix">
                        <li><a href="#" class="social-facebook"></a></li>
                        <li><a href="#" class="social-twitter"></a></li>
                        <li><a href="#" class="social-dribbble"></a></li>
                    </ul>
                </div>

                <div class="team-name">
                    <h3>ALAN DOE</h3>
                    <p>Senior Designer</p>
                </div>

                <p>Ut ultricies iaculis leo ut egestas diam gravida sit.</p>

            </div><!--/.team-member-->
        </div><!--/.span3-->

        <div class="span3" data-animated="fadeInLeft">
            <div class="team-member">

                <div class="team-img">
                    <img src="images/example/team/team3.jpg" alt="Image">
                    <ul class="social clearfix">
                        <li><a href="#" class="social-facebook"></a></li>
                        <li><a href="#" class="social-twitter"></a></li>
                        <li><a href="#" class="social-dribbble"></a></li>
                    </ul>
                </div>

                <div class="team-name">
                    <h3>ELENA MORGAN</h3>
                    <p>Manager</p>
                </div>

                <p>Ut ultricies iaculis leo ut egestas diam gravida sit</p>

            </div><!--/.team-member-->
        </div><!--/.span3-->

        <div class="span3 last" data-animated="fadeInLeft">
            <div class="team-member">

                <div class="team-img">
                    <img src="images/example/team/team4.jpg" alt="Image">
                    <ul class="social clearfix">
                        <li><a href="#" class="social-facebook"></a></li>
                        <li><a href="#" class="social-twitter"></a></li>
                        <li><a href="#" class="social-dribbble"></a></li>
                    </ul>
                </div>

                <div class="team-name">
                    <h3>ALFRED</h3>
                    <p>Security Director</p>
                </div>

                <p>Ut ultricies iaculis leo ut egestas diam gravida sit</p>

            </div><!--/.team-member-->
        </div><!--/.span3-->

    </div><!--/.container -->
</div>
<!-- END TEAM SECTION -->



<!-- START TEXT PARALLAX SECTION -->
<div id="parallax4" class="parallax dark">
    <div class="container">

        <div id="slider-text" class="slide slider-text">
            <ul class="slides">
                <li><h1>WE ARE <span>CREATIVE</span></h1></li>
                <li><h1>WE ARE - <span>FIRST CLASS!</span></h1></li>
                <li><h1>ORIOLUS MAKES <span>DREAMS</span> COME <span>TRUE</span></h1></li>
                <li><h1>WITH ORIOLUS <span>THE POWER</span> ON YOUR SIDE</h1></li>
            </ul><!--/.slides-->
        </div><!--/.testimonials -->

        <div class="overlay"></div>
    </div><!--/.container-->
</div>
<!-- END TEXT PARALLAX SECTION  -->

<!-- START CONTACT PAGE -->
<section id="contact" class="section gray">
    <div class="container"> 

        <div class="titles">
            <i class="icon-phone"></i>
            <h1>CONTACT US</h1>
        </div><!--/.titles -->

        <div class="span6">
            <form id="contact-form" class="contact-form" method="post" action="#">
                <div class="result"></div>
                <input type="text" name="contact[name]" id="name" placeholder="Name *">
                <input type="text" name="contact[email]" id="email" placeholder="E-mail *">
                <input type="text" name="contact[subject]" id="subject" placeholder="Subject">
                <textarea cols="5" rows="5" name="contact[message]" id="message" placeholder="Message *"></textarea>
                <input type="submit" class="btn-dark" value="SEND">
            </form><!--/form-->
        </div><!--/.span6 -->

        <div class="span6" data-animated="fadeInRight">
            <h3>CONTACT US 24/7</h3>
            <p>Ultricies iaculis leo, ut egestas diam gravida sit a    porta feugiat. Sed eleifend erat magna.
            n sagittis arcu mattis ac. Vivamus eu aliquam elit, condimentum aliquam leo. Nulla consectetur urna a euismod pellentesque. Aenean mi nulla, vehicula nec justo nec, 
            tempor ultricies enim. Ut eu tincidunt enim, id semper tellus. Donec a elementum neque.</p>

            <h3>CONTACT INFO</h3>
            <ul>
                <li><strong>Addres:</strong> Street Name</li>
                <li><strong>Phone:</strong> +333 258 654 897</li>
                <li><strong>Fax:</strong> +333 258 654 899</li>
                <li><strong>Email:</strong> <a href="mailto:company@mail.com">company@mail.com</a> </li>
                <li><strong>Web:</strong> <a href="#">companysite.com</a> </li>
            </ul>
        </div><!--/.span6-->

    </div><!--/.container -->
</section>
<!-- END: CONTACT PAGE -->