<!-- START HOME SECTION -->
<section id="home" class="parallax">
    <div class="home-wrapper">
        <div class="home-content">
            
            <div id="home-slider" class="slide slider-text">
                <ul class="slides">
                    <li><h1>WE ARE <span>CREATIVE</span></h1></li>
                    <li><h1>WE ARE - <span>FIRST CLASS!</span></h1></li>
                    <li><h1>ORIOLUS MAKES <span>DREAMS</span> COME <span>TRUE</span></h1></li>
                    <li><h1>WITH ORIOLUS <span>THE POWER</span> ON YOUR SIDE</h1></li>
                </ul><!--/.slides-->
            </div><!--/.testimonials -->

            <a href="#start" class="scroll home-btn">GET STARTED</a>

        </div><!--/.home-content-->
    </div><!--/.home-wrapper-->
</section>
<!-- END HOME SECTION -->



<!-- START FEATURES SECTION -->
<section id="como-funciona" class="section gray">
    <div class="container">

        <div class="titles">
            <i class="icon-star"></i>
            <h1>WHAT WE DO</h1>
            <h3>WE CREATIVE AGENCY, WE MAKE <span>AWESOME</span> WEB DESIGN AND LOGO, WE’RE ALWAYS LOOKING FOR <span>TALENTED PEOPLE</span> TO JOIN OUR TEAM. <span>ARE YOU TALENTED, HIGHLY MOTIVATED, HARDWORKING AND PASSIONATE</span> ABOUT YOUR CAREER IF SO, <span>ORIOLUS</span> WOULD LOVE YOU TO JOIN OUR TEAM!</h3>
        </div><!--/.titles -->

        <div class="span3">
            <div class="features">
                <span class="icon-eye" data-animated="bounceIn"></span>
                <h3>RETINA READY</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span3">
            <div class="features">
                <span class="icon-like" data-animated="bounceIn"></span>
                <h3>PERFECT DESIGN</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span3">
            <div class="features">
                <span class="icon-bubble" data-animated="bounceIn"></span>
                <h3>NEED SUPPORT ?</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

        <div class="span3 last">
            <div class="features">
                <span class="icon-paperplane" data-animated="bounceIn"></span>
                <h3>WE ARE CREATIVE !</h3>
                <p>Praesent vitae purus eu libero laoreet ornare. Ut justo quamet cursus neque.</p>
            </div><!--/.features-->
        </div><!--/.span3-->

    </div><!--/.container-->
</section>
<!-- END ABOUT SECTION  -->

<!-- START PRICETABLE SECTION -->
<section id="planos" class="section gray">
    <div class="container">

        <div class="titles">
            <i class="icon-heart"></i>
            <h1>OUR PRICES</h1>
        </div><!--/.titles -->

        <div class="price-wrapper-col3" data-animated="bounceInUp">

            <div class="pricetable">
                <ul>
                    <li class="pricetable-title"><h3>PREMIUM</h3></li>
                    <li class="pricetable-price"><h3>$39.99</h3><span>PER MONTH</span></li>
                    <li class="pricetable-item">40 PROJECTS</li>
                    <li class="pricetable-item">25 GB STORAGE</li>
                    <li class="pricetable-item">UNLIMITED USERS</li>
                    <li class="pricetable-item">40 GB BANDWITH</li>
                    <li class="pricetable-btn"><a class="btn btn-dark" href="#">SIGN UP</a></li>
                </ul>
            </div><!--/.pricetable-->

            <div class="pricetable pricetable-features">
                <ul>
                    <li class="pricetable-title"><h3>MAXIMUM</h3></li>
                    <li class="pricetable-price"><h3>$69.99</h3><span>PER MONTH</span></li>
                    <li class="pricetable-item">60 PROJECTS</li>
                    <li class="pricetable-item">40 GB STORAGE</li>
                    <li class="pricetable-item">UNLIMITED USERS</li>
                    <li class="pricetable-item">60 GB BANDWITH</li>
                    <li class="pricetable-btn"><a class="btn btn-yellow" href="#">SIGN UP</a></li>
                </ul>
            </div><!--/.pricetable-->

            <div class="pricetable">
                <ul>
                    <li class="pricetable-title"><h3>PLATINUM</h3></li>
                    <li class="pricetable-price"><h3>$99.99</h3><span>PER MONTH</span></li>
                    <li class="pricetable-item">100 PROJECTS</li>
                    <li class="pricetable-item">80 GB STORAGE</li>
                    <li class="pricetable-item">UNLIMITED USERS</li>
                    <li class="pricetable-item">100 GB BANDWITH</li>
                    <li class="pricetable-btn"><a class="btn btn-dark" href="#">SIGN UP</a></li>
                </ul>
            </div><!--/.pricetable-->

        </div><!--/.price-wrapper-col3-->

    </div><!--/.container -->
</section>
<!-- END PRICETABLE SECTION -->



<!-- START CLIENTS PARALLAX SECTION -->
<div id="parallax3" class="parallax dark">
    <div class="container">

        <div class="titles">
            <i class="icon-trophy"></i>
            <h1>OUR OLD AND VALUED CLIENTS</h1>
            <p>PRAESENT VITAE PURUS EU LIBERO LAOREET ORNARE. UT JUSTO QUAMET CURSUS NEQUE. </p>
        </div><!--/.titles -->

        <div class="clients">
            <a href="#"><img src="images/example/logo/logo1.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo2.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo3.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo4.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo5.png" alt="Logo"></a>
            <a href="#"><img src="images/example/logo/logo6.png" alt="Logo"></a>
        </div><!--/.clients -->

        <div class="overlay"></div>
    </div><!--/.container -->
</div>
<!-- END CLIENTS PARALLAX SECTION  -->



<!-- START TEXT PARALLAX SECTION -->
<div id="parallax4" class="parallax dark">
    <div class="container">

        <div id="slider-text" class="slide slider-text">
            <ul class="slides">
                <li><h1>WE ARE <span>CREATIVE</span></h1></li>
                <li><h1>WE ARE - <span>FIRST CLASS!</span></h1></li>
                <li><h1>ORIOLUS MAKES <span>DREAMS</span> COME <span>TRUE</span></h1></li>
                <li><h1>WITH ORIOLUS <span>THE POWER</span> ON YOUR SIDE</h1></li>
            </ul><!--/.slides-->
        </div><!--/.testimonials -->

        <div class="overlay"></div>
    </div><!--/.container-->
</div>
<!-- END TEXT PARALLAX SECTION  -->

<!-- START CONTACT PAGE -->
<section id="assine" class="section gray">
    <div class="container"> 

        <div class="titles">
            <i class="icon-phone"></i>
            <h1>CONTACT US</h1>
        </div><!--/.titles -->

        <div class="span6">
            <form id="contact-form" class="contact-form" method="post" action="#">
                <div class="result"></div>
                <input type="text" name="contact[name]" id="name" placeholder="Name *">
                <input type="text" name="contact[email]" id="email" placeholder="E-mail *">
                <input type="text" name="contact[subject]" id="subject" placeholder="Subject">
                <textarea cols="5" rows="5" name="contact[message]" id="message" placeholder="Message *"></textarea>
                <input type="submit" class="btn-dark" value="SEND">
            </form><!--/form-->
        </div><!--/.span6 -->

        <div class="span6" data-animated="fadeInRight">
            <h3>CONTACT US 24/7</h3>
            <p>Ultricies iaculis leo, ut egestas diam gravida sit a    porta feugiat. Sed eleifend erat magna.
            n sagittis arcu mattis ac. Vivamus eu aliquam elit, condimentum aliquam leo. Nulla consectetur urna a euismod pellentesque. Aenean mi nulla, vehicula nec justo nec, 
            tempor ultricies enim. Ut eu tincidunt enim, id semper tellus. Donec a elementum neque.</p>

            <h3>CONTACT INFO</h3>
            <ul>
                <li><strong>Addres:</strong> Street Name</li>
                <li><strong>Phone:</strong> +333 258 654 897</li>
                <li><strong>Fax:</strong> +333 258 654 899</li>
                <li><strong>Email:</strong> <a href="mailto:company@mail.com">company@mail.com</a> </li>
                <li><strong>Web:</strong> <a href="#">companysite.com</a> </li>
            </ul>
        </div><!--/.span6-->

    </div><!--/.container -->
</section>
<!-- END: CONTACT PAGE -->